{% extends "index.twig" %}

{% block content %}
  <!-- Lead hero -->
  <section class="hero is-medium has-background-image has-hero-border-bottom" style="background-image: url('{{ assets }}/images/backgrounds/menu-dawn.png'); background-position: bottom;">
    <div class="hero-body">
      <div class="container has-text-centered">
        <img class="image has-logo-image" src="{{ assets }}/images/logo-blue-glow.png">
      </div>
    </div>

    <div class="hero-foot">
      <nav class="navbar is-dark is-transparent">
        <div class="container">
          <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" data-target="navbar">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div class="navbar-menu is-family-secondary is-size-4" id="navbar">
            <div class="navbar-start">
              <a class="navbar-item px-4" href="#news">News</a>
              <a class="navbar-item px-4" href="#story">Story</a>
              <a class="navbar-item px-4" href="#characters">Characters</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>

  <!-- Lead -->
  <section class="section container content">
    <div class="columns is-centered">
      <div class="column is-8">
        <p class="is-lead-4">Invisible Wings is a narrative adventure game about Dawn, a young woman of faerie descent, and her quest for answers to her own identity and self-acceptance.</p>

        <div class="buttons is-centered is-family-secondary my-5">
          <a class="button is-primary is-medium is-rounded" href="{{ links.social.steam }}">
            <span class="icon mr-2">
              <i class="fab fa-steam"></i>
            </span>
            View on Steam
          </a>
          <a class="button is-primary is-medium is-rounded" href="{{ links.social.itch_io }}">
            <span class="icon mr-2">
              <i class="fab fa-itch-io"></i>
            </span>
            View on Itch.io
          </a>
        </div>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column is-8">
        <figure class="image is-16by9 mx-0">
          <iframe class="has-ratio" src="{{ embeds.trailer }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>
      </div>
    </div>
  </section>

  <!-- News hero -->
  <section class="hero is-medium has-background-image has-hero-border" style="background-image: url('{{ assets }}/images/backgrounds/skating-rink.png');">
    <div class="hero-body"></div>
  </section>

  <!-- News anchor -->
  <a name="news"></a>

  <!-- News -->
  <section class="section container content">
    <h1 class="has-text-centered mb-6">Announcements</h1>

    <div class="columns is-centered">
      <div class="column is-8">
        <div class="announcement">
          <h3 class="has-text-primary-dark">Invisible Wings is available now!</h3>

          <p>Audune Games is thrilled to announce that Invisible Wings is now available to play for free! Head over to the <a href="{{ links.social.steam }}">Steam store page</a> or the <a href="{{ links.social.itch_io }}">Itch.io download page</a> to claim your copy and start playing!</p>

          <p>Join the release hype at <a href="{{ links.social.discord }}">Mae's Place</a>, the most awesome diner in Ceylynn! In our public Discord server you can talk about the game, ask for support, tell us if you found the easter egg in the game, or have a chit chat about anything else. See you there!</p>

          <h4>Definitive patch and soundtrack</h4>

          <p>As some of you will already know, writing music for such a personal passion project as Invisible Wings is hard, and so not all scenes are filled with the music that they deserve. Therefore we will release a definitive patch of Invisible Wings probably this fall, with even more magical music!</p>
          <p>With this patch the original soundtrack of Invisible Wings will become available too for you to buy on Steam and Itch.io, as well as releases on major streaming platforms like Spotify and Deezer. Follow us on our social media accounts linked below to stay updated on this definitive patch!</p>

          <h4>The next steps</h4>

          <p>This release of Inivible Wings is only a demo and proof of concept for what we envisioned as the final game, which provides a vertical slice of the story in the form of an interactive visual novel. This demo so far only contains only 5-10% of the story and worldbuilding we have in mind for the final game, so there’s way more to expect.</p>
          <p>As the next step, we want to make a narrative adventure game, featuring Dawn’s whole story, modeled in beautiful 3D environments full of things to explore, akin to Dreamfall and Life Is Strange. With your support you can help us making the full game a reality!</p>
          <p>You can support us for as low as €1 a month via <a href="{{ links.social.patreon }}">Patreon</a>, while donating €5 or more gives you access to the Patron Lounge on Discord too. If you are not fond of monthly subscriptions, you can also donate a small amount on our <a href="{{ links.social.ko_fi }}">Ko-fi page</a>. Every little thing helps us tremendously, even if it’s as small as a nice review or comment on how your experience with the game was. Thank you!</p>

          <p>Last but not least, stay up to date about Invisible Wings and its development process by following us on <a href="{{ links.social.twitter }}">Twitter</a> and <a href="{{ links.social.facebook }}">Facebook</a>!</p>
        </div>

        <div class="announcement">
          <h3 class="has-text-primary-dark">Audune Games is now on Discord and Patreon!</h3>

          <p>We've launched our public Discord server, <a href="{{ links.social.discord }}">Mae's Place</a>! According to our own Dawn, Mae's Place has been there as long as she remembers, and she hopes it wil never go away as well! Feel welcome to join us to chit chat, talk about Invisible Wings, share cool stuff, and other fun things!</p>
          <p>But that's not all! We also launched our <a href="{{ links.social.patreon }}">Patreon</a> page to help fund the development of the full version of Invisible Wings! The demo for Invisible Wings will be released on Steam and Itch.io on April 15th, which is a proof of concept for the narrative and world building, and provides a vertical slice of the story in the form of an interactive visual novel. From there, we want to make a narrative adventure game, featuring Dawn's whole story, modeled in beautiful 3D environments full of things to explore, akin to Dreamfall and Life Is Strange. With your support, which can be as low as € 1 per month, you can help us making the full game a reality! Pledging € 5 or more also gives you a sneak peek in the development process and access to the patron lounge on Discord.</p>
          <p>We hope to see you soon on our Discord server or Patreon!</p>
        </div>
      </div>
    </div>

    <h1 class="has-text-centered mb-6">Reviews and articles</h1>

    <div class="columns is-centered">
      <div class="column is-8">
        <div class="announcement">
          <p>
            <span>&ldquo;Learning to love who you are, despite everyone telling you otherwise, is something that’s learned over time. And it’s something that players will have to guide Dawn, <i>Invisible Wings</i> protagonist, towards to try and get her happy ending.&rdquo;</span><br>
            <span class="is-italic">&ndash; Aimee Hart, <a href="https://gaymingmag.com/2021/04/learn-to-love-who-you-are-in-the-queer-demo-of-invisible-wings/">Gayming Magazine</a></span>
          </p>
        </div>

        <div class="announcement">
          <p>
            <span>&ldquo;A visual novel in which fairies pose a threat? Very nice idea and I really like the world building around it. Has a good serious undertone in many scenes, which reflects society and its difficulties well. [...] the structure that was built around it is more than solid and already makes you curious about the finished game.&rdquo;</span><br>
            <span class="is-italic">&ndash; MahouGao, <a href="https://visual-novel.info/steam-game-festival-fruehjahr-2021-teil-2/">Visual Novel Info</a></span>
          </p>
        </div>

        <div class="announcement">
          <p>
            <span>&ldquo;Follow Dawn, a young woman of faerie descent, as she tries to find answers to her own identity in a modern world, where faeries and humans were supposed to live in harmony.&rdquo;</span><br>
            <span class="is-italic">&ndash; Joyce Ross, <a href="https://gameskeys.net/top-steam-games-to-tryout-in-april-2021/">GameKeys</a></span>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Story hero -->
  <section class="hero is-medium has-background-image has-hero-border" style="background-image: url('{{ assets }}/images/backgrounds/piazza.png');">
    <div class="hero-body"></div>
  </section>

  <!-- Story anchor -->
  <a name="story"></a>

  <!-- Story -->
  <section class="section container content">
    <h1 class="has-text-centered mb-6">The story</h1>

    <div class="columns is-centered">
      <div class="column is-8">
        <p>Follow Dawn, a young woman of faerie descent, as she tries to find answers to her own identity in a modern world, where faeries and humans were supposed to live in harmony. Being bullied and harassed most of her life because of her appearance, she wants nothing more than just being an ordinary human. Although she blames her magical ancestors for all her problems, she meets a faerie herself, who grows more than a friend to her and complicates her quest even further.</p>
        <p>Explore the vibrant and diverse city of Ceylynn in an interactive visual novel, characterized by recognizable characters, a rich world full of lore and a memorable adaptive soundtrack.</p>
      </div>
    </div>
  </section>

  <!-- Characters hero -->
  <section class="hero is-medium has-background-image has-hero-border" style="background-image: url('{{ assets }}/images/backgrounds/haven.png');">
    <div class="hero-body"></div>
  </section>

  <!-- Characters anchor -->
  <a name="characters"></a>

  <!-- Characters -->
  <section class="section container content">
    <h1 class="has-text-centered mb-6">Meet the characters</h1>

    <div class="columns is-centered">
      <div class="column is-4">
        <figure class="image is-128x128 is-centered">
          <img class="is-rounded has-background-grey-lighter" src="{{ assets }}/images/characters/dawn-head.png" alt="Dawn">
        </figure>

        <h3 class="has-text-centered">Dawn</h3>
        <p>Dawn is a young female hybrid with one great wish: to be just an ordinary human. For years she has constantly been confronted with her appearance and heritage, even although she looks more human than other hybrids. She blames the faerie species for being an outcast in the human-dominated world and desperately tries to seek answers to her identity, but with little luck so far. It also doesn’t help that racism even went so far to not letting faeries and hybrids participate in official sport events, which clashes with Dawn’s great passion for figure skating. However, these issues only seem the beginning of Dawn’s journey...</p>
      </div>

      <div class="column is-4">
        <figure class="image is-128x128 is-centered">
          <img class="is-rounded has-background-grey-lighter" src="{{ assets }}/images/characters/lilith-head.png" alt="Lilith">
        </figure>

        <h3 class="has-text-centered">Lilith</h3>
        <p>Being a faerie seems to be quite hard in a world dominated by human beliefs, especially for a social butterfly like Lilith. Few know however that she tries to cope with a past experience that forced her to leave her faerie tribe, giving her a dreamy, restless and sometimes impulsive personality. She tries to disguise this mental scar by being nice to everyone, but not always with success. Luckily Lilith has the advantage of possessing magic to hide her wings and tail from plain sight, something that also proves to be useful to enter the figure skating competition.</p>
      </div>

      <div class="column is-4">
        <figure class="image is-128x128 is-centered">
          <img class="is-rounded has-background-grey-lighter" src="{{ assets }}/images/characters/aranea-head.png" alt="Aranea">
        </figure>

        <h3 class="has-text-centered">Aranea</h3>
        <p>Strongly led by her own ideals, Aranea is an ambitious hybrid who fights for equal rights for hybrids and a halt to the racism they undergo. She feels however a great resentment towards faeries, because in her opinion they took away a blissful future for her own species. Aranea is Dawn's best friend since their childhood and gives her a lot of support, but her own ideals seem conflicting with Dawn’s personal wish and maybe even with common moral sense...</p>
      </div>
    </div>
  </section>

  <!-- Credits hero -->
  <section class="hero is-medium has-background-image has-hero-border" style="background-image: url('assets/images/backgrounds/bedroom.png');">
    <div class="hero-body"></div>
  </section>

  <!-- Credits -->
  <section class="section">
    <div class="container content">
      <div class="columns is-centered">
        <div class="column is-4 has-text-centered">
          <h3>Created by</h3>

          <p class="mb-0"><a href="{{ links.people.danae_dekker }}">Danae Dekker</a></p>
          <p class="is-size-7">creative director, game development, audio design, music</p>

          <p class="mb-0"><a href="{{ links.people.maricu_mana }}">Maricu Mana</a></p>
          <p class="is-size-7">character and environment design</p>

          <p class="mb-0">Eva van der Meer</p>
          <p class="is-size-7">script writing</p>
        </div>

        <div class="column is-4 has-text-centered">
          <h3>With the voice talents of</h3>

          <p class="mb-0">Leader Looi</p>
          <p class="is-size-7">Dawn, female newsreader</p>

          <p class="mb-0"><a href="{{ links.people.jessica_spencer }}">Jessica Spencer</a></p>
          <p class="is-size-7">Lilith, little boy</p>

          <p class="mb-0"><a href="{{ links.people.katherine_tole }}">Katherine Tole</a></p>
          <p class="is-size-7">Aranea, little girl</p>

          <p class="mb-0">Martijn Weber</p>
          <p class="is-size-7">male newsreader, announcer</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
