{% extends "index.twig" %}

{% block content %}
  <section class="hero is-medium has-background-image has-hero-border-bottom" style="background-image: url('{{ assets }}/images/menu-dawn.png'); background-position: bottom;">
    <div class="hero-body">
      <div class="container has-text-centered">
        <img class="image has-logo-image" src="{{ assets }}/images/logo-blue-glow.png">
      </div>
    </div>

    <div class="hero-foot">
      <nav class="navbar is-dark is-transparent">
        <div class="container">
          <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" data-target="navbar">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div class="navbar-menu is-family-secondary is-size-4" id="navbar">
            <div class="navbar-start">
              <a class="navbar-item px-4" href="#story">Story</a>
              <a class="navbar-item px-4" href="#characters">Characters</a>
              <a class="navbar-item px-4" href="#world">World</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>

  <!-- Lead -->
  <section class="section container content">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <p class="is-lead-4">Invisible Wings is a narrative adventure game about Dawn, a young woman of faerie descent, and her quest for answers to her own identity and self-acceptance.</p>

        <div class="buttons is-centered is-family-secondary my-5">
          <a class="button is-primary is-medium" href="{{ links.social.steam }}">
            <span class="icon mr-2">
              <i class="fab fa-steam"></i>
            </span>
            View on Steam
          </a>
          <a class="button is-primary is-medium" href="{{ links.social.itch_io }}">
            <span class="icon mr-2">
              <i class="fab fa-itch-io"></i>
            </span>
            View on Itch.io
          </a>
        </div>

        <figure class="image is-16by9">
          <iframe class="has-ratio" src="{{ embeds.trailer }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>
      </div>
    </div>
  </section>

  <section class="hero is-medium has-background-image has-hero-border" style="background-image: url('{{ assets }}/images/piazza.png');">
    <div class="hero-body"></div>
  </section>

  <!-- Story -->
  <a name="story"></a>
  <section class="section container content">
    <h1 class="has-text-centered mb-6">The story</h1>

    <div class="columns">
      <div class="column is-8 is-offset-2">
        <p>Follow Dawn, a young woman of faerie descent, as she tries to find answers to her own identity in a modern world, where faeries and humans were supposed to live in harmony. Being bullied and harassed most of her life because of her appearance, she wants nothing more than just being an ordinary human. Although she blames her magical ancestors for all her problems, she meets a faerie herself, who grows more than a friend to her and complicates her quest even further.</p>
        <p>Explore the vibrant and diverse city of Ceylynn in an interactive visual novel, characterized by recognizable characters, a rich world full of lore and a memorable adaptive soundtrack.</p>
      </div>
    </div>
  </section>

  <section class="hero is-medium has-background-image has-hero-border" style="background-image: url('{{ assets }}/images/haven.png');">
    <div class="hero-body"></div>
  </section>

  <!-- Characters -->
  <a name="characters"></a>
  <section class="section container content">
    <h1 class="has-text-centered mb-6">Meet the characters</h1>

    <div class="columns">
      <div class="column">
        <figure class="image is-128x128 is-centered">
          <img class="is-rounded has-background-grey-lighter" src="{{ assets }}/images/dawn-head.png" alt="Dawn">
        </figure>

        <h3 class="has-text-centered">Dawn</h3>
        <p>Dawn is a young female hybrid with one great wish: to be just an ordinary human. For years she has constantly been confronted with her appearance and heritage, even although she looks more human than other hybrids. She blames the faerie species for being an outcast in the human-dominated world and desperately tries to seek answers to her identity, but with little luck so far. It also doesn’t help that racism even went so far to not letting faeries and hybrids participate in official sport events, which clashes with Dawn’s great passion for figure skating. However, these issues only seem the beginning of Dawn’s journey...</p>
      </div>

      <div class="column">
        <figure class="image is-128x128 is-centered">
          <img class="is-rounded has-background-grey-lighter" src="{{ assets }}/images/lilith-head.png" alt="Lilith">
        </figure>

        <h3 class="has-text-centered">Lilith</h3>
        <p>Being a faerie seems to be quite hard in a world dominated by human beliefs, especially for a social butterfly like Lilith. Few know however that she tries to cope with a past experience that forced her to leave her faerie tribe, giving her a dreamy, restless and sometimes impulsive personality. She tries to disguise this mental scar by being nice to everyone, but not always with success. Luckily Lilith has the advantage of possessing magic to hide her wings and tail from plain sight, something that also proves to be useful to enter the figure skating competition.</p>
      </div>

      <div class="column">
        <figure class="image is-128x128 is-centered">
          <img class="is-rounded has-background-grey-lighter" src="{{ assets }}/images/aranea-head.png" alt="Aranea">
        </figure>

        <h3 class="has-text-centered">Aranea</h3>
        <p>Strongly led by her own ideals, Aranea is an ambitious hybrid who fights for equal rights for hybrids and a halt to the racism they undergo. She feels however a great resentment towards faeries, because in her opinion they took away a blissful future for her own species. Aranea is Dawn's best friend since their childhood and gives her a lot of support, but her own ideals seem conflicting with Dawn’s personal wish and maybe even with common moral sense...</p>
      </div>
    </div>
  </section>

  <section class="hero is-medium has-background-image has-hero-border" style="background-image: url('{{ assets }}/images/diner.png');">
    <div class="hero-body"></div>
  </section>

  <!-- World -->
  <a name="world"></a>
  <section class="section container content">
    <h1 class="has-text-centered mb-6">A vast world</h1>

    <div class="columns">
      <div class="column is-8 is-offset-2">
        <p>Earth was created by two spirits: Cyll, the shining sun, and Ileth, the night sky. Their nine daughters and sons, the nymphs, and their children, the faeries, turned Earth from a bald rock to a place full of life and light as we still know it today. As the icing on the cake the nymphs conjured up the humans, which could fully admire the creation of the nymphs in its full form. Although it was forbidden, the curious faeries hid their wings and tails and visited the humans in their settlements. Some faeries even fell in love with humans, which led to the birth of hybrids. However, those “bastard children” were not well received by both humans and faeries. Because of the orthodox faerie beliefs they were mostly raised in the human world, but most humans were prejudiced, because faeries are dangerous because of their touch magic, so why would their children be innocent?</p>

        <h3 class="has-text-centered">Faeries</h3>
        <p>Faeries are human-sized creatures that are also humane in appearance. They do however bear a tail and an often beautiful set of wings, which can be used to fly. Originally faeries are the offspring of the nine nymphs created by the two ancient spirits, from whom they can inherit magical powers.</p>

        <p>Most faeries live secluded from the humans in harmony with nature. They form tribes from 10 to 30 faeries who live together. Faeries have their own religion with pantheistic beliefs, centered around the sun and nature. They are however naturally curious creatures and more than once they may visit the human cities, even to the point of integrating in their society.</p>
        <h3 class="has-text-centered">Hybrids</h3>
        <p>Faeries can mate with humans as well, including using their tails. The offspring of a faerie and a human is called a hybrid and inherits human as well as faerie qualities. More often than not they inherit the tail of their faerie parent, but inherited wings are however rarely seen.</p>

        <p>Most hybrids live in the human society, where they form a vast minority. Often hybrids are looked down on by humans and are socially discriminated. Therefore hybrids often live secluded and hidden. There are hybrids who stand up for their rights however, even getting through to the political views of the country.</p>
      </div>
    </div>
  </section>

  <section class="hero is-medium has-background-image has-hero-border" style="background-image: url('assets/images/bedroom.png');">
    <div class="hero-body"></div>
  </section>

  <!-- About -->
  <a name="about"></a>
  <section class="section">
    <div class="container content">
      <div class="columns">
        <div class="column is-4 has-text-centered">
          <h3>Created by</h3>

          <p class="mb-0"><a href="{{ links.people.danae_dekker }}">Danae Dekker</a></p>
          <p class="is-size-7">creative director, game development, audio design, music</p>

          <p class="mb-0"><a href="{{ links.people.maricu_mana }}">Maricu Mana</a></p>
          <p class="is-size-7">character and environment design</p>

          <p class="mb-0">Eva van der Meer</p>
          <p class="is-size-7">script writing</p>
        </div>

        <div class="column is-4 has-text-centered">
          <h3>With the voice talents of</h3>

          <p class="mb-0">Leader Looi</p>
          <p class="is-size-7">Dawn, female newsreader</p>

          <p class="mb-0">Jessica Spencer</p>
          <p class="is-size-7">Lilith, little boy</p>

          <p class="mb-0"><a href="{{ links.people.katherine_tole }}">Katherine Tole</a></p>
          <p class="is-size-7">Aranea, little girl</p>

          <p class="mb-0">Martijn Weber</p>
          <p class="is-size-7">male newsreader, announcer</p>
        </div>

        <div class="column is-4 has-text-centered">
          <h3>Special thanks to</h3>

          <p>
            Alexis Orellana<br>
            Amber Veerman<br>
            Bastiaan van Bentum<br>
            Elijah Gabriel<br>
            Greg Candel<br>
            Maarten Oud<br>
            Stijn de Koning<br>
            Thomas van Rossum<br>
            Volmer Montsma
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
