<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} &middot; Invisible Wings</title>
    <link rel="stylesheet" href="{{ assets }}/css/styles.css">
    <link rel="shortcut icon" href="{{ assets }}/images/butterfly-blue.png">
  </head>

  <body>
    <!-- Main content -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="has-background-black-ter has-text-light has-hero-border-top">
      <div class="section container">
        <div class="level">
          <div class="level-left">
            <img class="level-item image is-48x48" src="{{ assets }}/images/butterfly-white.png">
            <p class="level-item content">
              <span class="mx-2 my-0">Invisible Wings &copy;2019&ndash;2021, Audune Games</span>
              <!--<a class="mx-2 my-0" href="{{ base_path_for('presskit') }}">Press Kit</a>-->
              <a class="mx-2 my-0" href="{{ links.audune }}">Website</a>
              <a class="mx-2 my-0" href="{{ links.contact }}">Contact</a>
            </p>
          </div>

          <div class="level-right">
            <p class="level-item content">
              <a class="is-icon-link mx-1 my-0" href="{{ links.social.steam }}">
                <span class="icon is-medium">
                  <i class="fab fa-2x fa-steam"></i>
                </span>
              </a>

              <a class="is-icon-link mx-1 my-0"  href="{{ links.social.itch_io }}">
                <span class="icon is-medium">
                  <i class="fab fa-2x fa-itch-io" data-fa-transform="shrink-6 down-0.25" data-fa-mask="fas fa-circle"></i>
                </span>
              </a>

              <a class="is-icon-link mx-1 my-0"  href="{{ links.social.twitter }}">
                <span class="icon is-medium">
                  <i class="fab fa-2x fa-twitter" data-fa-transform="shrink-6 down-0.5" data-fa-mask="fas fa-circle"></i>
                </span>
              </a>

              <a class="is-icon-link mx-1 my-0"  href="{{ links.social.facebook }}">
                <span class="icon is-medium">
                  <i class="fab fa-2x fa-facebook"></i>
                </span>
              </a>

              <a class="is-icon-link mx-1 my-0"  href="{{ links.social.patreon }}">
                <span class="icon is-medium">
                  <i class="fab fa-2x fa-patreon" data-fa-transform="shrink-7" data-fa-mask="fas fa-circle"></i>
                </span>
              </a>

              <a class="is-icon-link mx-1 my-0"  href="{{ links.social.discord }}">
                <span class="icon is-medium">
                  <i class="fab fa-2x fa-discord" data-fa-transform="shrink-7" data-fa-mask="fas fa-circle"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="{{ assets }}/fontawesome/js/all.js"></script>
    <script src="{{ assets }}/js/index.js"></script>
  </body>
</html>
