<!DOCTYPE html>
<html>
  <head>
    <!-- Meta-tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Help Dawn, a young woman of faerie descent, with her first steps into loving and accepting who she is in a modern world where faeries and humans were supposed to live in harmony.">
    <meta name="keywords" content="invisible wings, visual novel, visual, novel, fairy, faerie, love, self-acceptance, fantasy">

    <!-- Shortcut icon -->
    <link rel="shortcut icon" href="{{ assets }}/images/butterfly-blue.png">
    <link rel="icon" type="image/png" href="{{ assets }}/images/butterfly-blue.png" sizes="512x512">

    <!-- Title -->
    <title>{{ page.title }} &middot; Invisible Wings: Chapter One</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ assets }}/css/styles.css">

    <!-- Scripts -->
    <script defer src="node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <script defer src="src/js/index.js"></script>
  </head>

  <body>
    <!-- Main content -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="has-background-black-ter has-text-light has-hero-border-top">
      <div class="section container">
        <div class="level">
          <div class="level-left has-text-centered-mobile">
            <img class="level-item image is-48x48" src="{{ assets }}/images/butterfly-white.png">
            <p class="level-item content is-block">
              Invisible Wings: Chapter One &copy; 2019&ndash;2023, Audune Games<br>
              <a href="{{ links.audune }}">Website</a> &middot; <a data-mailto="{{ links.contact }}">Contact Support</a>
            </p>
          </div>

          <div class="level-right">
            <p class="level-item content">
              <a class="is-icon-link mx-1 my-0" href="{{ links.social.steam }}">
                <span class="icon is-medium">
                  <i class="fa-brands fa-2x fa-steam"></i>
                </span>
              </a>

              <a class="is-icon-link mx-1 my-0"  href="{{ links.social.itch_io }}">
                <span class="icon is-medium">
                  <i class="fa-brands fa-2x fa-itch-io" data-fa-transform="shrink-6 down-0.25" data-fa-mask="fas fa-circle"></i>
                </span>
              </a>

              <a class="is-icon-link mx-1 my-0"  href="{{ links.social.twitter }}">
                <span class="icon is-medium">
                  <i class="fa-brands fa-2x fa-twitter" data-fa-transform="shrink-6 down-0.5" data-fa-mask="fas fa-circle"></i>
                </span>
              </a>

              <a class="is-icon-link mx-1 my-0"  href="{{ links.social.facebook }}">
                <span class="icon is-medium">
                  <i class="fa-brands fa-2x fa-facebook"></i>
                </span>
              </a>

              <a class="is-icon-link mx-1 my-0"  href="{{ links.social.discord }}">
                <span class="icon is-medium">
                  <i class="fa-brands fa-2x fa-discord" data-fa-transform="shrink-7" data-fa-mask="fas fa-circle"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
